{% extends "base.html" %}
{% block title %}İletişim Formu{% endblock title %}
{% block content %}
<h2>İletişim Formu</h2>
{% if submitted %}
    <p class="success">Form başarılı bir şekilde gönderilmiştir.</p>
{% else %}
    <form action="" method="post" novalidate>
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2"><input class="btn btn-primary ml-2 mr-2" type="submit" value="Gönder"></td>

        </tr>
    </table>
        &nbsp;
    {% csrf_token %}
    </form>
{% endif %}
{% endblock content %}